<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>व्हिडीओ</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-label class="text-center">वर्ग</ion-label>
          <ion-item>
            <ion-select placeholder="वर्ग   निवडा   " interface="popover" mode="ios" name="classes"
              (ionChange)="OnClassaChange($event)" required>
              <ion-select-option value="{{item.allclasses_id}}" *ngFor="let item of allClasses">
                {{item.allclasses_className}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-label>विषय</ion-label>
          <ion-item>
            <ion-select placeholder="विषय   निवडा   " interface="action-sheet" mode="ios" name="tal"
              (ionChange)="OnSubjectChange($event)" required>
              <ion-select-option value="{{item.allSubject_id}}" *ngFor="let item of allSubject">
                {{item.allSubject_subjectName}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-label>पाठाचे नाव</ion-label>
          <ion-item>
            <ion-select placeholder=" पाठाचे नाव  निवडा   " interface="action-sheet" mode="ios" name="tal"
              (ionChange)="OnChapterChange($event)" required>
              <ion-select-option value="{{item.allChapters_id}}" *ngFor="let item of allChapters">
                {{item.allChapters_number}}) {{item.allChapters_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="ion-no-padding ">

    <ion-item>
      <ion-thumbnail slot="start" style="width:150px;height:75px;">
        <img src="https://img.youtube.com/vi/PT2UaSJAgCM/0.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>songs of Lata & Mukesh | लता मंगेशकर & मुकेश के 100 गाने | HD Songs | O</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="width:150px;height:75px;">
        <img src="https://img.youtube.com/vi/EdDe67kKbeI/0.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>songs of Lata & Mukesh | लता मंगेशकर & मुकेश के 100 गाने | HD Songs | O</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="width:150px;height:75px;">
        <img src="https://img.youtube.com/vi/8lprjCd21ig/0.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>songs of Lata & Mukesh | लता मंगेशकर & मुकेश के 100 गाने | HD Songs | O</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="width:150px;height:75px;">
        <img src="https://img.youtube.com/vi/nFOXPchG-Vs/0.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>songs of Lata & Mukesh | लता मंगेशकर & मुकेश के 100 गाने | HD Songs | O</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" style="width:150px;height:75px;">
        <img src="https://img.youtube.com/vi/vXfEiSLeIZQ/0.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>songs of Lata & Mukesh | लता मंगेशकर & मुकेश के 100 गाने | HD Songs | O</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>