<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>बहुपर्यायी प्रश्न पत्रिका</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-label class="text-center">वर्ग</ion-label>
          <ion-item>
            <ion-select placeholder="वर्ग   निवडा   " interface="popover" mode="ios" name="classes" required>
              <ion-select-option value="item.id">
                5</ion-select-option>
              <ion-select-option value="item.id">
                6</ion-select-option>
              <ion-select-option value="item.id">
                7</ion-select-option>
              <ion-select-option value="item.id">
                8</ion-select-option>
              <ion-select-option value="item.id">
                9</ion-select-option>
              <ion-select-option value="item.id">
                10</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-label>विषय</ion-label>
          <ion-item>
            <ion-select placeholder="विषय   निवडा   " interface="alert" mode="ios" name="tal" required>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-label>पाठाचे नाव</ion-label>
          <ion-item>
            <ion-select placeholder=" पाठाचे नाव  निवडा   " interface="action-sheet" mode="ios" name="tal" required>
              <ion-select-option value="item.id">
                item.nam item.name item.name vitem.name e</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>
              <ion-select-option value="item.id">
                item.name</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="img-thumbnail">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          प्रश्न पत्रिका क्रमांक : १
        </ion-col>
        <ion-col size="3">
          <ion-button size="small">सोडावा</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="success" size="small">गुणानुक्रम</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>