<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>शालेय पाठ्यपुस्तके</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="वर्ग   निवडा   " interface="popover" mode="ios" name="classes" required>
              <ion-select-option value="item.id">
                5</ion-select-option>
              <ion-select-option value="item.id">
                6</ion-select-option>
              <ion-select-option value="item.id">
                7</ion-select-option>
              <ion-select-option value="item.id">
                8</ion-select-option>
              <ion-select-option value="item.id">
                9</ion-select-option>
              <ion-select-option value="item.id">
                10</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/book.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>