<ion-content>
  <div class="main_content_div">

    <div>
      <ion-label class="head_lbl text-center text-danger">लॉगिन करा</ion-label>

      <ion-input type="text" placeholder="ई-मेल "></ion-input>

      <ion-input type="text" placeholder="पासवर्ड "></ion-input>

      <ion-button (click)="goToPhone()" expand="block">
        लॉगिन
      </ion-button>

      <ion-label class="forgot text-danger">तांत्रिक अडचणीकरिता संपर्क करा : 8421333417</ion-label>
    </div>

    <div class="bottom_div">
      <ion-label >Don't have an account ? <span>Sign Up</span></ion-label>
    </div>

  </div>
</ion-content>