<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quiz"></ion-back-button>
    </ion-buttons>
    <ion-title>प्रश्न पत्रिका क्रमांक : १</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/male.png">
    </ion-avatar>
    <ion-label>
      <h2>Santosh Ashokrao Sontakke</h2>
      <h3>Date : 23/08/1980</h3>
      <p>Mark : 10</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/male.png">
    </ion-avatar>
    <ion-label>
      <h2>Santosh Ashokrao Sontakke</h2>
      <h3>Date : 23/08/1980</h3>
      <p>Mark : 10</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/female.png">
    </ion-avatar>
    <ion-label>
      <h2>Santosh Ashokrao Sontakke</h2>
      <h3>Date : 23/08/1980</h3>
      <p>Mark : 10</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/male.png">
    </ion-avatar>
    <ion-label>
      <h2>Santosh Ashokrao Sontakke</h2>
      <h3>Date : 23/08/1980</h3>
      <p>Mark : 10</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/female.png">
    </ion-avatar>
    <ion-label>
      <h2>Santosh Ashokrao Sontakke</h2>
      <h3>Date : 23/08/1980</h3>
      <p>Mark : 10</p>
    </ion-label>
  </ion-item>
</ion-content>