<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> डाउनलोड / लिंक</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding ">
    <ion-item>
      <ion-label>item.download_title</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>item.download_title</ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>